.subwindow {
    position: absolute;

    background-color: var(--e-darkBlue);

    >* {
        position: absolute;
    }
}

.subwindow-menu {
    left: calc(334 * var(--cell));
    top: calc(15 * var(--cell));
    width: calc(306 * var(--cell));
    height: calc(450 * var(--cell));

    >.title {
        text-align: left;
        padding-left: calc(3 * var(--cell));
        left: calc(0 * var(--cell));
        top: calc(0 * var(--cell));
        width: calc(306 * var(--cell));
        height: calc(24 * var(--cell));

        background-color: var(--e-black);
    }

    >.e-button {
        width: calc(153 * var(--cell));
        height: calc(50 * var(--cell));
    }

    >.e-button.close {
        left: calc(0 * var(--cell));
        top: calc(400 * var(--cell));
        width: calc(82 * var(--cell));
        height: calc(50 * var(--cell));
    }
}

.subwindow-dataentry {
    >.title {
        background-color: var(--e-black);
    }

    >.field {
        height: calc(50 * var(--cell));
        width: calc(306 * var(--cell));

        border: calc(1 * var(--cell)) var(--e-mediumGrey) solid;

        display: flex;
        flex-direction: row;
        align-items: stretch;

        >.label {
            position: relative;
            width: calc(204 * var(--cell));
            height: 100%;

            background-color: var(--e-darkGrey);
            color: var(--e-grey);

            text-align: right;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            padding-right: calc(10 * var(--cell));

            >span {
                display: inline-block;
            }
        }

        >.data {
            position: relative;
            flex-grow: 1;
            flex-basis: 0;
            height: 100%;
            max-width: calc(102 * var(--cell));

            background-color: var(--e-darkGrey);
            color: var(--e-grey);

            text-align: left;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding-left: calc(10 * var(--cell));

            >span {
                position: relative;
                display: inline-block;
            }

            .cursor {
                position: absolute;
                box-sizing: border-box;

                animation: cursor 1s steps(1, end) infinite;
            }
        }

        &:not(:has(>.label)) {
            .data {
                left: 0;
                width: calc(306 * var(--cell)); // When there's no label in the field, data should take up the full width
                max-width: calc(306 * var(--cell));
            }
        }

        &.selected {
            >.data {
                background-color: var(--e-mediumGrey);
                color: var(--e-black);
            }
        }

        &.accepted {
            >.data {
                background-color: var(--e-darkGrey);
                color: var(--e-white);
            }
        }
    }

    .key {
        position: absolute;
        width: calc(102 * var(--cell));
        height: calc(50 * var(--cell));
    }

    >.close,
    >.prev,
    >.next {
        width: calc(82 * var(--cell));
        height: calc(50 * var(--cell));
    }

    >.keyboard-box {
        top: calc(200 * var(--cell));
        width: calc(306 * var(--cell));
        height: calc(200 * var(--cell));

        display: block;
    }

    &.half {
        left: calc(334 * var(--cell));
        top: calc(15 * var(--cell));
        width: calc(306 * var(--cell));
        height: calc(450 * var(--cell));

        >.field {
            left: 0;
        }

        >.title {
            text-align: left;
            padding-left: calc(3 * var(--cell));

            left: calc(0 * var(--cell));
            top: calc(0 * var(--cell));
            width: calc(306 * var(--cell));
            height: calc(24 * var(--cell));
        }

        >.close {
            left: calc(0 * var(--cell));
            top: calc(400 * var(--cell));
        }

        >.prev {
            left: calc(82 * var(--cell));
            top: calc(400 * var(--cell));
        }

        >.next {
            left: calc(164 * var(--cell));
            top: calc(400 * var(--cell));
        }

        >.keyboard-box {
            left: 0;
        }
    }

    &.total {
        left: calc(0 * var(--cell));
        top: calc(15 * var(--cell));
        width: calc(640 * var(--cell));
        height: calc(450 * var(--cell));

        >.field {
            left: calc(334 * var(--cell));
        }

        >.title {
            text-align: right;
            padding-right: calc(3 * var(--cell));

            left: calc(0 * var(--cell));
            top: calc(0 * var(--cell));
            width: calc(334 * var(--cell));
            height: calc(24 * var(--cell));
        }

        >.close {
            left: calc(334 * var(--cell));
            top: calc(400 * var(--cell));
        }

        >.prev {
            left: calc(416 * var(--cell));
            top: calc(400 * var(--cell));
        }

        >.next {
            left: calc(498 * var(--cell));
            top: calc(400 * var(--cell));
        }

        >.keyboard-box {
            position: relative;
            left: calc(334 * var(--cell));
        }
    }

    .numeric,
    .alphanumeric,
    .enumeric {
        .key {
            font-size: calc(16 * var(--cell));
        }

        .letter {
            font-size: calc(10 * var(--cell));
        }
    }

    .dedicated {
        .key {
            font-size: calc(12 * var(--cell));
        }
    }

    .key.dot {
        font-weight: bold;
    }

    .confirm-box {
        left: 0;
        top: calc(350 * var(--cell));
        width: calc(334 * var(--cell));
        height: calc(100 * var(--cell));

        >.label {
            height: calc(50 * var(--cell));

            display: flex;
            text-align: center;

            align-items: center;
            justify-content: center;

            span {
                display: inline-block;
            }
        }

        >.filled {
            height: calc(50 * var(--cell));

            color: var(--e-black);
            background-color: var(--e-darkGrey);
            border: calc(1 * var(--cell)) var(--e-mediumGrey) solid;

            display: flex;
            text-align: center;

            align-items: center;
            justify-content: center;

            span {
                display: inline-block;
            }
        }
    }

    .echotext-box {
        left: 0;
        top: calc(100 * var(--cell));
        width: calc(334 * var(--cell));
        height: calc(350 * var(--cell));

        display: block;

        .echotext-row {
            position: relative;
            display: flex;
            width: 100%;
            height: max-content;

            flex-direction: row;
            align-items: stretch;
            justify-content: flex-start;
        }

        .left {
            position: relative;
            padding-left: calc(10 * var(--cell));
            padding-right: calc(5 * var(--cell));
            width: calc(204 * var(--cell));
            text-align: right;
        }

        .right {
            position: relative;
            padding-left: calc(5 * var(--cell));
            padding-right: calc(10 * var(--cell));
            width: calc(130 * var(--cell));
            text-align: left;
        }
    }
}

@keyframes cursor {

    0%,
    100% {}

    50% {
        border-bottom: calc(2 * var(--cell)) solid var(--e-black);
    }
}